<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<%=basePath%>">
    <title>质量评估</title>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <!--
    <link rel="stylesheet" type="text/css" href="styles.css">
    -->
    <link rel="stylesheet" href="../static/css/control.css">
    <link rel="stylesheet" href="../static/css/assess.css">

    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->

    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="../static//My97DatePicker/WdatePicker.js"></script>
    <link rel="stylesheet" href="../static/css/assessinstance.css">


</head>
<body>
<div class="head-title">
    <ul class="head-function" style="height: 73px;">
        <li class="fun-list" style="margin-top: 12px;"><a href="/">首页</a></li>
        <li class="fun-list" style="margin-top: 12px;"><a href="/online">动态监测</a></li>
        <li class="fun-list" style="margin-top: 12px;"><a href="/infocollect">信息采集</a></li>
        <li class="fun-list" style="margin-top: 12px;"><a href="/assess"><span
                style="font-size:14px;color:white;">质量评估</span></a></li>
        <li class="fun-list" style="margin-top: 12px;"><a href="/processmanage">设备管理</a></li>
    </ul>
</div>
<div class="assess-all">
    <div class="asses-block" style="margin-top: 0px;width: 12.6%;padding-left: 10px;padding-top: 20px;">
        <h2 class="assess-font" style="font-weight: 600;">质量评估</h2>
        <li class="assess-li">
            <a href="/assessinstance">
                <img class="not-choose" alt="" src="../static/images/overview.svg">
                <img class="choose" alt="" src="../static/images/overview-hover.svg">
                <span class="assess-span">虾</span>
            </a>
        </li>
        <li class="assess-li">
            <img class="not-choose" alt="" src="../static/images/snapshot.svg">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="/assess_meat">
                            肉类
                        </a>
                    </div>

                </div>
            </div>
        </li>
    </div>
    <div class="assess-func" style="margin-top:auto;padding:auto;">
        <div class="assess-func-div1" style="margin-top: -8px;">
            <h3 class="title" style="font-weight: 600">实例</h3>
        </div>
        <div class="assess-func-div2",style="margin-top:auto;padding:auto;">
            {% if flag!=1 %}
                <div class="container">
                    <form class="cd-form floating-labels" action="/assess_meat_submit" method="post">
                        <fieldset>
                            <legend>请输入原始数据：</legend>

                            <div class="icon">
                                <label class="cd-label" for="cd-name">温度</label>
                                <input class="user" type="text" name="tem" id="tem" required>
                            </div>

                            <div class="icon">
                                <label class="cd-label" for="cd-company">氧气</label>
                                <input class="company" type="text" name="o2" id="o2">
                            </div>

                            <div class="icon">
                                <label class="cd-label" for="cd-email">氨气</label>
                                <input class="email error" type="text" name="nh3" id="nh3" required>
                            </div>
                        </fieldset>

                        <div>
                            <input type="submit" value="提交">
                        </div>
                        </fieldset>
                    </form>
                </div>
            {% endif %}
            {% if flag %}
                <div class="analysis-result"
                     style="margin-left: 40px;margin-top:20px;background: white;height: 1100px;">
                    <h2 style="padding-top: 20px;font-size: 28px;margin-left: 20px;">评估报告</h2>
                    <hr>
                    <div>
                        <p style="margin-left: 20px;font-size: 20px;text-indent: 2em; margin-right: 20px;">
                            {{ result }}
                        </p>
                    </div>


                </div>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
