<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<%=basePath%>">
    <title>质量评估</title>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <!--
    <link rel="stylesheet" type="text/css" href="styles.css">
    -->
    <link rel="stylesheet" href="../static/css/control.css">
    <link rel="stylesheet" href="../static/css/assess.css">

    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->

    <!-- 引入echarts -->
    <script src="../static/js/echarts.js"></script>
    <script type="text/javascript">
        function imgChange(obj) {
            var file = document.getElementById("file");
            var File = file.files[0];
            var name = File.name;
            if (File.name == "") {
                alert("请上传.xlsx文件");
                return false;
            } else {
                var imgStr = /\.(xlsx|XLSX)$/;
                if (!imgStr.test(File.name)) {
                    alert("文件不是.xlsx格式");
                    return false;
                }
            }
        };

        <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
            <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="../static//My97DatePicker/WdatePicker.js"></script>
    <link rel="stylesheet" href="../static/css/assessinstance.css">
</head>
<body>
<div class="head-title">
    <ul class="head-function" style="height: 73px;">
        <li class="fun-list" style="margin-top: 12px;"><a href="/">首页</a></li>
        <li class="fun-list" style="margin-top: 12px;"><a href="/online">动态监测</a></li>
        <li class="fun-list" style="margin-top: 12px;"><a href="/infocollect">信息采集</a></li>
        <li class="fun-list" style="margin-top: 12px;"><a href="/assess"><span
                style="font-size:14px;color:white;">质量评估</span></a></li>
        <li class="fun-list" style="margin-top: 12px;"><a href="/processmanage">设备管理</a></li>
    </ul>
</div>
<div class="assess-all">
    <div class="asses-block" style="margin-top: 0px;width: 12.6%;padding-left: 10px;padding-top: 20px;">
        <h2 class="assess-font" style="font-weight: 600;">质量评估</h2>
        <li class="assess-li">
            <a href="/assess">
                <img class="not-choose" alt="" src="../static/images/overview.svg">
                <img class="choose" alt="" src="../static/images/overview-hover.svg">
                <span class="assess-span">概览</span>
            </a>
        </li>
        <li class="assess-li">
            <img class="not-choose" alt="" src="../static/images/snapshot.svg">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="/assessinstance">
                            实例
                        </a>
                    </div>

                </div>
            </div>
        </li>
    </div>
    <div class="assess-func" style="margin-top: 0px;padding: 10px;">
        <div class="assess-func-div1" style="margin-top: -8px;">
            <h3 class="title" style="font-weight: 600">实例</h3>
        </div>
        <div class="assess-func-div2">
            {% if flag!=1 %}
                <div class="div2-son">
                    <div class="selectbtn">
                        <form action="/access_shrimp" method="POST" enctype="multipart/form-data">
                            <input type="file" name="file" id="file" ;"/>
                            <input type="submit" value="上传">
                        </form>
                    </div>
                </div>
            {% endif %}
            {% if flag %}
                <div class="analysis-result"
                     style="margin-left: 40px;margin-top:20px;background: white;height: 1100px;">
                    <h2 style="padding-top: 20px;font-size: 28px;margin-left: 20px;">评估报告</h2>
                    <hr>
                    <p style="margin-left: 20px;font-size: 20px;">预测结果可视化:</p>
                    <div>
                        <img id="resimg" style="width: 400px;display: table-cell;margin: 0 auto;"
                             src="../static/result/result.png" title="预测结果">
                    </div>
                    <div>
                        <p style="margin-left: 20px;font-size: 20px;margin-top: 30px">结果分析:</p>
                        <p style="margin-left: 20px;font-size: 20px;text-indent: 2em; margin-right: 20px;">
                            南美白对虾高光谱数据TVB-N评估值为：{{ result }}。
                        </p>
                    </div>


                </div>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
